# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [1]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "Test"

# Multiple Assignments

In [2]:
a, b, c = 10, 5.5, "Test"

In [3]:
a = b = c = "AI" #assign the same value to multiple variables at once

# Storage Locations

In [5]:
x = 3

print(id(x))               #print address of variable x

140372891159288

In [6]:
y = 3

print(id(y))               #print address of variable y

140372891159288

Observation:

x and y points to same memory location

In [7]:
y = 2
print(id(y))               #print address of variable y

140372891159312

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [2]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

(5, ' is of type', <type 'int'>)

In [3]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

(2.5, ' is of type', <type 'float'>)

In [4]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

((1+2j), ' is complex number?')
True

# Boolean

 Boolean represents the truth values False and True

In [12]:
a = True                          #a is a boolean type
print(type(a))

<type 'bool'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [5]:
# Single word
'hello'

'hello'

In [ ]:
# Entire phrase 
'This is also a string'

In [ ]:
# We can also use double quote
"String built with double quotes"

In [6]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-6-c4b3168a5ab0>, line 2)

The reason for the error above is because the single quote in I'm stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [7]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [9]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [11]:
len('Hello World')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [5]:
# Assign s as a string
s = 'Hello World'

In [14]:
#Check
s

'Hello World'

In [15]:
# Print the object
print(s)

Hello World

In [16]:
# Show first element (in this case a letter)
s[0]

'H'

We can use a : to perform slicing which grabs everything up to a designated point. For example:

In [17]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [18]:
# Note that there is no change to the original s
s

'Hello World'

In [20]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

#### NOTE:
the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [21]:
#Everything
s[:]

'Hello World'

##### We can also use negative indexing to go backwards

In [22]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [6]:
# Grab everything but the last letter
s[-5:]

'World'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [24]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [25]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [26]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [27]:
s

'Hello World'

In [28]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

##### NOTE: 
how the error tells us directly what we can't do, change the item assignment!
Something we can do is concatenate strings!

In [29]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [30]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [31]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [33]:
letter = 'z'

In [34]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [35]:
s

'Hello World concatenate me!'

In [36]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [37]:
# Lower case
s.lower()

'hello world concatenate me!'

In [38]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [48]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

# Python List
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [49]:
a = [10, 20.5, "Hello"]
print(a[1])

20.5

Lists are mutable, meaning, value of elements of a list can be altered.

In [50]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

# Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [16]:
t = (1, 1.5, "ML")

In [17]:
print(t[1]) #extract particular element

1.5

In [18]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

# Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [19]:
a = {10, 30, 20, 40, 5}
print(a)

set([40, 10, 20, 5, 30])

In [20]:
print(type(a))             #print type of a

<type 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [22]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

set([10, 20, 30])

In [23]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object does not support indexing

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [23]:
d = {'a': "apple", 'b': "bat"}
print d['a']

apple

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [26]:
float(5)     #convert interger to float using float() method

5.0

In [25]:
int(100.5)   #convert float to integer using int() method

100

In [24]:
str(20)      #convert integer to string

'20'

Conversion to and from string must contain compatible values.

In [27]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [1]:
user = "Abdul"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, Abdul! You just wrote 100 lines of code

We can convert one sequence to other

In [28]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<type 'list'>
<type 'set'>

In [29]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']