In [1]:
#Python Input and Output

print("Hello Wordl")

Hello Wordl

In [2]:
a  = 10
print("the value of a is -> ",a)

the value of a is ->  10

In [4]:
a =10 ;b =20
print("The value of a is {} and b is {}".format(a,b))

The value of a is 10 and b is 20

In [5]:
print("The value of a is {} and b is {}".format(b,a))

The value of a is 20 and b is 10

In [8]:
test = 10
test2 = 20
print("The value of a is {a} and b is {b}".format(b=test,a=test2))

The value of a is 20 and b is 10

In [14]:
num = input("Enter a number:")
print(int(num))

Enter a number:Test

ValueError: invalid literal for int() with base 10: 'Test'

In [16]:
num = int(input("Enter a number:"))
print(num)

Enter a number:str

ValueError: invalid literal for int() with base 10: 'str'

In [19]:
#Operators and Types in Python

#Arithmatic Operator

#   + , -, *, /, %, //, **  are arithmetic operators

x,y = 10,3

x/y

3.3333333333333335

In [20]:
x//y  #Floor Division

3

In [21]:
x**y

1000

In [22]:
# Comparision Operators

#     > (greater), <, ==, !=, >=, <= are comparision operators

a,b = 10,20
print(a < b)

True

In [23]:
# Logical Operators

# and, or  and not

a,b = True ,False

print( a and b)

False

In [24]:
print( a or b)

True

In [25]:
# Bitwise Operators

#     &,  |,  ~,  ^,  >>,  << are Bitwise operators

In [26]:
# Assignements Operators
#     =,  +=,  -=,  *=,  /=,  %=,  //=,  **=, 

a = 100
print(a)

a += 10 #a =a+10
print(a)

100
110

In [27]:
+= a 10

SyntaxError: invalid syntax (<ipython-input-27-e829b92c4ccb>, line 1)

In [28]:
# Identity Operators 
# "is" and "is not"

a = 5 
b = 5

print(a is b)

True

In [29]:
l1 = [1,2,3]
l2 = [1,2,3]

print(l1 is l2)

False

In [30]:
l2[2] = 5

In [31]:
l1

[1, 2, 3]

In [32]:
l2

[1, 2, 5]

In [33]:
l1 = [1,2,3]

l2 = l1

print(l1)

[1, 2, 3]

In [34]:
print(l2)

[1, 2, 3]

In [35]:
print(l1 is l2)

True

In [36]:
l1

[1, 2, 3]

In [37]:
l2

[1, 2, 3]

In [39]:
l2[2] = 5

In [40]:
l2

[1, 2, 5]

In [41]:
l1

[1, 2, 5]

In [42]:
# Membership Operators

# "in" adn "not in"

lst = [1,2,3,4]
print(1 in lst)

True

In [43]:
print(5 in lst)

False

In [44]:
d= {1:"a",2:3}
print(3 in d)

False

In [45]:
print(2 in d)

True

In [50]:
a = 10

if(a ==10):
    print("I am inside If block")
    print("The values of a = 10")

print("I am oustside the block")

I am inside If block
The values of a = 10
I am oustside the block

In [52]:
a = -10

if(a > 0):
    print("This is positive number")
else:
    print("This a negative number")

This a negative number

In [54]:
num1 = 10
num2 = 50
num3 = 15

if(num1>= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3
    
print("The largets nuber amoung the 3 numbers is : {}".format(largest))

The largets nuber amoung the 3 numbers is : 50

In [55]:
for element in [1,2,3,4,5,6,7,8] :
    print(element**2)

1
4
9
16
25
36
49
64

In [56]:
"*"*2

'**'

In [59]:
lst = [1,2,3,4,5]
for x in lst[::-1]:
    print("*"*x)

*****
****
***
**
*

In [60]:
for i in {1,2,3,4,5}:
    print(i)

1
2
3
4
5

In [63]:
lst = [10, 20, 30, 40, 50]

sum = 0

for x in lst:
    sum += x
    
print("The sum value is ->",sum)

The sum value is -> 150