In [2]:
import keyword

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
sbc_ABC = 1

In [5]:
ABab = 2

In [6]:
1abc = 3

SyntaxError: invalid syntax (<ipython-input-6-26b7134673f5>, line 1)

In [7]:
A@ = 3

SyntaxError: invalid syntax (<ipython-input-7-fe4e27199ad7>, line 1)

In [8]:
abc1 = 5

In [9]:
av=2

In [11]:
# Print Hellow World 
print("Hello World") #this is aprint statement
# The new Commnet Line
print("New Hellow")

Hello World
New Hellow

In [12]:
#MULTILINE COMMENTS

""" This is alos a 
perfect example for the
multiline commnets
"""

' This is alos a \nperfect example for the\nmultiline commnets\n'

In [14]:
def double(num):
    """
       Function to double the number
    """
    #This ishash
    return 2 * num

print(double(10))

20

In [15]:
print(double.__doc__)

       Function to double the number

## This is Python
    new

In [23]:
# iNDENTATION

for i in range(10):
    print(i)
    
print("Test")
print(i)

0
1
2
3
4
5
6
7
8
9
Test
9

In [19]:
print(i)

9

In [20]:
print(i)

9

In [24]:
if True:
    print("Machine Learning")
    c = "Test"

Machine Learning

In [25]:
if True: print("machine Learning");c = "Test"

machine Learning

In [26]:
a = 1 +2 + 3

In [27]:
a

6

In [29]:
a = 1+2+3+ \
    4+5+6

In [30]:
a

21

In [31]:
a = 1+2+3+ \
    4+5+6+ \
    7+8

In [33]:
a = (1+2+3+
    4+5+6+
    7+8)

In [34]:
a =10;b =20; c= 30

In [35]:
a = 10
b = 5.5
c = "Machine"

In [45]:
print(type(a))

<class 'int'>

In [37]:
type(b)

float

In [38]:
type(c)

str

In [40]:
a ,b,c = 10,5.5 ,"Machine"

In [41]:
x,y,z = type(a),type(b),type(c)

In [42]:
x

int

In [43]:
y

float

In [44]:
z

str

In [46]:
a = 1 +2j

In [47]:
print(a)

(1+2j)

In [48]:
print(isinstance(1+2j,complex))

True

In [49]:
type(a)

complex

In [52]:
a = "true"

print(type(a))

<class 'str'>

In [53]:
# STRINGS 

'hello'

'hello'

In [54]:
' This is a string'

' This is a string'

In [58]:
' I'm using single cotes'

SyntaxError: invalid syntax (<ipython-input-58-2bd5d7f94816>, line 1)

In [63]:
a="I'm using double cotes"

In [64]:
print('First Line \n Second Line')

First Line
 Second Line

In [65]:
len(a)

23