In [1]:
s = "Hellow World"

In [2]:
s

'Hellow World'

In [3]:
s[0]

'H'

In [4]:
s[1:3]

'el'

In [5]:
s[:]

'Hellow World'

In [6]:
s[-1]

'd'

In [8]:
s[0:-1]

'Hellow Worl'

In [9]:
s[::2]

'Hlo ol'

In [12]:
s[::-1]

'dlroW wolleH'

In [13]:
s[::]

'Hellow World'

In [14]:
s

'Hellow World'

In [15]:
s[5]

'w'

In [16]:
s[5] = 'Y'

TypeError: 'str' object does not support item assignment

In [17]:
s + "New"

'Hellow WorldNew'

In [18]:
s*5

'Hellow WorldHellow WorldHellow WorldHellow WorldHellow World'

In [19]:
s.upper()

'HELLOW WORLD'

In [20]:
s.lower()

'hellow world'

In [21]:
s.split(' ')

['Hellow', 'World']

In [24]:
ab  = [10,20.5,"Hello",True]

In [25]:
lst = [[1,2],[3,4]]

In [26]:
lst[0]

[1, 2]

In [27]:
lst[0][0]

1

In [28]:
lst[0]

[1, 2]

In [29]:
lst[0] = "NewString"

In [30]:
lst

['NewString', [3, 4]]

In [31]:
emtList = []

In [32]:
print(len(emtList))

0

In [33]:
newList = ['one','two','three','four','five']

In [34]:
print(len(newList))

5

In [35]:
newList.append('six')

In [37]:
print(newList)

['one', 'two', 'three', 'four', 'five', 'six']

In [38]:
newList[6] = 'New'

IndexError: list assignment index out of range

In [40]:
lst = ['one','two','three']
lst.insert(2,'twohalf')
lst

['one', 'two', 'twohalf', 'three']

In [41]:
lst.remove('two')

In [42]:
lst

['one', 'twohalf', 'three']

In [43]:
lst.remove('two')

ValueError: list.remove(x): x not in list

In [48]:
lst = ['one','two','three','four','five']

lst2 = ['seven','six']
    
lst.append(lst2)

lst

['one', 'two', 'three', 'four', 'five', ['seven', 'six']]

In [49]:
lst

['one', 'two', 'three', 'four', 'five', ['seven', 'six']]

In [50]:
lst = ['one','two','three','four','five']

lst2 = ['seven','six']
    
lst.extend(lst2)

lst

['one', 'two', 'three', 'four', 'five', 'seven', 'six']

In [51]:
lst

['one', 'two', 'three', 'four', 'five', 'seven', 'six']

In [52]:
lst = ['one','two','three','four','five']

lst2 = ['seven',['six','eight']]
    
lst.extend(lst2)

lst

['one', 'two', 'three', 'four', 'five', 'seven', ['six', 'eight']]

In [53]:
for i in "String":
    print(i)

S
t
r
i
n
g

In [54]:
lst = ['one','two','three','four','five']

del lst[1]

print(lst)

['one', 'three', 'four', 'five']

In [55]:
lst

['one', 'three', 'four', 'five']

In [56]:
lst.pop(1)
lst

['one', 'four', 'five']

In [59]:
numbers = [3,1,7,9,10,2,6]

sorted(numbers,reverse=True)

[10, 9, 7, 6, 3, 2, 1]

In [60]:
numbers

[3, 1, 7, 9, 10, 2, 6]

In [61]:
sting = ["abc","def","xyz","lmno"]
sorted(sting)

['abc', 'def', 'lmno', 'xyz']

In [62]:
numbers = [3,1,7,9,10,2,6]

numbers.sort()

numbers

[1, 2, 3, 6, 7, 9, 10]

In [63]:
numbers

[1, 2, 3, 6, 7, 9, 10]

In [64]:
numbers = [3,1,7,9,10,2,6,'a','b']

numbers.sort()

numbers

TypeError: '<' not supported between instances of 'str' and 'int'

In [65]:
numbers = [3,1,7,9,10,2,6]

for num in numbers:
    print(num*num)

9
1
49
81
100
4
36

In [66]:
squares = []

for i in numbers:
    squares.append(i*i)

print(squares)

[9, 1, 49, 81, 100, 4, 36]

In [67]:
squares = [i*i for i in numbers]

In [68]:
squares

[9, 1, 49, 81, 100, 4, 36]

In [71]:
t = ()

t = (1,2,3)
print(t)
t = (1, 'a','abc')
print(type(t))
print(t)


t = (1,(1,2,3),[1,'ram',28])
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>
(1, 'a', 'abc')
(1, (1, 2, 3), [1, 'ram', 28])
<class 'tuple'>

In [72]:
t = ('Name')
print(type(t))

<class 'str'>

In [73]:
t = ('Name',)
print(type(t))

<class 'tuple'>

In [74]:
t = "NewValue"
type(t)

str

In [75]:
t = "NewValue",
type(t)

tuple

In [76]:
t = ('a','b','c','d')
print(t[1])

b

In [77]:
t[2] = 'z'

TypeError: 'tuple' object does not support item assignment

In [78]:
del t

In [79]:
t

NameError: name 't' is not defined

In [82]:
t = ('a','b','c','d','a')

In [83]:
t.count('a')

2

In [84]:
t.index('c')

2

In [88]:
#Tumple Membership

t = (1,2,3,4,5,6)

print(1 in t)
print(10 in t)
print('a' in t)

True
False
False

In [89]:
t = (5,6,1,3,10)
new_t = sorted(t)
print(new_t)

[1, 3, 5, 6, 10]

In [90]:
#SET  {}

s = {1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [91]:
s = {1,2,3,1,1,1,1,1,1,1}
print(s)

{1, 2, 3}

In [92]:
s = set([1,1,1,1,2,3,4,5])
print(s)

{1, 2, 3, 4, 5}

In [93]:
s = {1,2,3,4}
s.add(5)

In [94]:
print(s)

{1, 2, 3, 4, 5}

In [95]:
s.update([8,9],{10,11,12})
print(s)

{1, 2, 3, 4, 5, 8, 9, 10, 11, 12}

In [96]:
s = {1, 2, 3, 4, 5, 8, 9, 10, 11, 12}
s.remove(8)

In [97]:
s.remove(7)

KeyError: 7

In [98]:
s.discard(7)

In [99]:
print(s)

{1, 2, 3, 4, 5, 9, 10, 11, 12}

In [100]:
s.clear()

In [101]:
print(s)

set()

In [102]:
s = {1, 2, 3, 4, 5, 8, 9, 10, 11, 12}

del s

In [103]:
print(s)

NameError: name 's' is not defined

In [104]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

print(set1 | set2)
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [105]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

print(set1 & set2)
print(set1.intersection(set2))

{3, 4, 5}
{3, 4, 5}

In [106]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

print(set1 - set2)
print(set1.difference(set2))

{1, 2}
{1, 2}